.task {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  width: 736px;
  height: 72px;

  color: var(--gray-100);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.check {
  background: transparent;
  border: none;
  line-height: 0.2px;
}

.delete {
  background: transparent;
  border: none;
  line-height: 0.2px;
  color: var(--gray-300);
}