.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 736px;
  height: 72px;

  color: var(--gray-100);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 16px;

}

.task {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.task strike {
  color: var(--gray-300);
}

.task img {
 width: 24px;
 height: 24px;
}



.check {
  background: transparent;
  border: none;
  line-height: 0.2px;
}

.delete {
  background: transparent;
  border: none;
  line-height: 0.2px;
  color: var(--gray-300);
}

.delete:hover {
  color: var(--red-500);
}

.task img:hover {
  filter: contrast(200%);
border-radius: 100%;
overflow: hidden;
}